@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid english">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <img src="images/logo.svg" alt="logo" style="width: 35%"/>
                    </div>
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Phone Number</label>
                            <input class="form-control" asp-for="Login!.Phone" type="tel"/>
                            <span asp-validation-for="Login!.Phone" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Password</label>
                            <input class="form-control" type="password" asp-for="Login!.Password"/>
                            <span asp-validation-for="Login!.Password" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid swahili" style="display: none">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <img src="images/logo.svg" alt="logo" style="width: 35%"/>
                    </div>
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Namba ya Simu</label>
                            <input class="form-control" asp-for="SLogin!.Phone" type="tel"/>
                            <span asp-validation-for="SLogin!.Phone" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Nywila</label>
                            <input class="form-control" type="password" asp-for="SLogin!.Password"/>
                            <span asp-validation-for="SLogin!.Password" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}