@page
@model IndexModel

@{
    ViewData["Title"] = "Venue";
}
<partial name="Shared/_StatusMessage" for="StatusMessage"/>
<p id="value1"></p>
<p id="value2"></p>
<p id="value3"></p>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $(document).ready(function(){
        let urlParams = new URLSearchParams(window.location.search);
        let value1 = decodeURIComponent(urlParams.get('value1'));
        let combinedValue = atob(decodeURIComponent(urlParams.get('combined-value')));
        let values = combinedValue.split("|");

        // Insert the values into HTML elements with the ids 'value1' and 'value2'
        $('#value1').text(value1);
        $('#value2').text(values[0]);
        $('#value3').text(values[1]);
    });
</script>
}