@using RSAllies.Extensions
@inject  SessionChecker SessionChecker

@if (SessionChecker.Check())
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Welcome">Welcome</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
        </li>
    </ul>
}
else
{
    
    <ul class="navbar-nav flex-grow-1">
        
    </ul>
    
    <ul class="navbar-nav">
        <!-- Example split danger button -->
        <div class="btn-group">
            <button type="button" class="btn btn-danger">Language</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><span class="dropdown-item language" >English</span></li>
                <li><span class="dropdown-item language" >Swahili</span></li>
            </ul>
        </div>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
        </li>
    </ul>
    
}

