@using RSAllies.Extensions
@inject  SessionChecker SessionChecker

@if (SessionChecker.Check())
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Home">
                <span class="english">Home</span>
                <span class="swahili" style="display:none">Nyumbani</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Booking/Index">
                <span class="english">Booking</span>
                <span class="swahili" style="display:none">Hifadhi Nafasi</span>
             </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Booking/Search">
                <span class="english">Find a Session</span>
                <span class="swahili" style="display:none">Tafuta Nafasi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Scores/Index">
                <span class="english">Results</span>
                <span class="swahili" style="display:none">Matokeo yako</span>
            </a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <!-- Example split danger button -->
        <div class="btn-group">
            <button type="button" class="btn btn-danger">
                <span class="english">Language</span>
                <span class="swahili" style="display:none">Lugha</span>
            </button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li style="cursor: pointer"><span class="dropdown-item language">English</span></li>
                <li style="cursor: pointer"><span class="dropdown-item language">Swahili</span></li>
            </ul>
        </div>
    </ul>
}
else
{
    
    <ul class="navbar-nav flex-grow-1">
        
    </ul>
    
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Register">
                <span class="english">Register</span>
                <span class="swahili" style="display:none">Jisajili</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Login">
                <span class="english">Login</span>
                <span class="swahili" style="display:none">Ingia</span>
            </a>
        </li>
        <!-- Example split danger button -->
        <div class="btn-group">
            <button type="button" class="btn btn-danger">
                <span class="english">Language</span>
                <span class="swahili" style="display:none">Lugha</span>
            </button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li style="cursor: pointer"><span class="dropdown-item language" >English</span></li>
                <li style="cursor: pointer"><span class="dropdown-item language" >Swahili</span></li>
            </ul>
        </div>
    </ul>
    
}

